

<mat-card>
    <mat-card-header>
      <div mat-card-avatar ><mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">favorite</mat-icon></div>
      <mat-card-title>Favourites</mat-card-title>
      <mat-card-subtitle>Your favourite shopping lists</mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar ><mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">history</mat-icon></div>
      <mat-card-title>History</mat-card-title>
      <mat-card-subtitle>Recent shopping lists</mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>

    </mat-card-content>
  </mat-card>
