<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon aria-label="Side nav toggle icon">person</mat-icon> Profile
      </a>
      <a mat-list-item href="#">
        <mat-icon aria-label="Side nav toggle icon">share</mat-icon>Sharing
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="updateService.checkForUpdates()">
        <mat-icon aria-label="Side nav toggle icon">refresh</mat-icon>Check for updates
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-background">
    <mat-toolbar color="primary">
      <button *ngIf="auth.loggedIn" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>OA Shopping List</span>
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>

      <button mat-flat-button color="accent" (click)="login()" *ngIf="!auth.loggedIn">Log in</button>
      <button mat-flat-button color="accent" (click)="auth.logout()" *ngIf="auth.loggedIn">Log out</button>

    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
