$primary: map-get($theme, primary);

//$light-backround: 

$foreground: map-get($theme, foreground);

$disabled: map-get($theme, disabled);

$background: map-get($theme, background);
$text: map-get($foreground, text);
$card: map-get($background, card);

$border: map-get($foreground, divider);
