@import '~@angular/material/theming';

$theme-primary: mat-palette($mat-blue, A700, A300, A800);
$theme-accent: mat-palette($mat-orange, A200, A100, A400);
$theme-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);


$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
//$light-backround: 

$foreground: map-get($theme, foreground);

$disabled: map-get($theme, disabled);

$background: map-get($theme, background);
$text: map-get($foreground, text);
$card: map-get($background, card);
$toolbar: map-get($background, app-bar);



$border: map-get($foreground, divider);
