@import '../../../../../../assets/scss/vars';

.background {
  background-color: mat-color(map-get($theme, primary));
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%
}

.wrapper {
  height: 100%;
}

.dot-wrapper {
  background-color: mat-color($background, app-bar);
}

.dot {
  height: 6px;
  width: 6px;
  background-color: mat-color($primary);
  border-radius: 50%;
  display: inline-block;
}

.active {
  height: 8px;
  width: 8px;
  background-color: mat-color($accent);
  border-radius: 50%;
  display: inline-block;
}
