<div *ngIf="shoppingList$ | async as shoppingList">

  <div class="dot-wrapper py-12" *ngIf="shoppingListRoutesService?.shoppingList" fxLayout="row"
    fxLayoutAlign="center center" fxLayoutGap="5px">
    <span
      [ngClass]="{'dot':index!==shoppingListRoutesService.activeIndex, 'active':index===shoppingListRoutesService.activeIndex}"
      *ngFor="let shoppingList of shoppingListRoutesService.shoppingList; let index = index">
    </span>
  </div>

  <mat-toolbar>
    <mat-toolbar-row>
      <span class="primary-text">{{shoppingList.name}}</span>
      <button (click)="openDialog()" mat-icon-button color="primary">
        <mat-icon style="font-size: 14px;">edit</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <mat-slide-toggle (change)="hideCompletedChange($event)" color="accent" class="example-icon" checked="true"><span
          style="font-size:10px;">Hide Done</span>
      </mat-slide-toggle>

    </mat-toolbar-row>
    <mat-toolbar-row>
      <app-shopping-list-item-create style="width:100%;" [shoppingListId]="shoppingList.id">
      </app-shopping-list-item-create>
    </mat-toolbar-row>
  </mat-toolbar>


  <div style="height: 100%">
    <app-shopping-list-item-records [hideCompleted]="hideCompleted" [shoppingListId]="shoppingList.id">
    </app-shopping-list-item-records>


  </div>
</div>
