@import '../../../../../../assets/theme.scss';

.background {
  background-color: mat-color($primary);
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%
}

.wrapper {
  height: 100%;
}
