<form class="product-form" [formGroup]="itemForm">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="border-radius-4 border control-background" fxLayout="row" fxLayoutAlign="start center"
      style="padding:16px; margin-top:-10px;">
      <div *ngIf="products$ | async as products">
        <oa-autocomplete product-data [options]="[]" formControlName="product_id" placeholder="Add Item"
          appearence="none" (optionSelected)="selected($event)" (onEnterKeyPressed)="addItem($event)">

        </oa-autocomplete>
      </div>


    </div>

  </div>
</form>
