<div *ngIf="shoppingList" fxLayout="row" fxLayoutAlign="center center" class="light-text">
  <div>
    {{shoppingList.name}}
  </div>
  <button class="small-icon-button" mat-icon-button aria-label="Edit list">
    <mat-icon>edit</mat-icon>
  </button>
</div>



<!--


          <form [formGroup]="form" (ngSubmit)="submit()">
          <div fxLayout="row" fxLayoutAlign="start center" >
                <formly-form fxFlex [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
  
  
  
                <button fxFlex="10" mat-icon-button color="primary" type="submit" aria-label="Create list">
                    <mat-icon>add_circle</mat-icon>
                </button>
        </div>
    </form>
-->
