@import '../../../../assets/theme.scss';

.footer {
  position: fixed;

  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: mat-color($primary, 800);
  color: mat-color($accent);
  // text-align: center;
  margin: 0px;
}
