<div style="height: 30px;padding-left: 5px;" fxLayout="row" fxLayoutAlign="start center">

  <mat-checkbox (change)="checkChanged($event)" [(ngModel)]="checked"></mat-checkbox>
  <div class="item" (click)="onItemClick()" fxFlex>
    <div *ngIf="checked" class="item-completed">
      {{item.product.name}}<span *ngIf="item.quantity > 1">({{item.quantity}})</span>
    </div>
    <div *ngIf="!checked">
      {{item.product.name}} <span *ngIf="item.quantity > 1">({{item.quantity}})</span>
    </div>
    <mat-divider></mat-divider>
  </div>

</div>
