<div style="height: 30px;padding-left: 5px;" fxLayout="row" fxLayoutAlign="start center">

  <div fxFlex>
    <mat-checkbox fxFlex (change)="checkChanged($event)" [(ngModel)]="checked">
      <div class="item" fxFlex>
        <div *ngIf="checked" class="item-completed">
          {{item.product.name}}<span *ngIf="item.quantity > 1">({{item.quantity}})</span>
        </div>
        <div *ngIf="!checked">
          {{item.product.name}} <span *ngIf="item.quantity > 1">({{item.quantity}})</span>
        </div>

      </div>

    </mat-checkbox>

  </div>
  <div fxFlex="80px">
    <button fxFlex="100px" (click)="openDialog()" mat-icon-button color="primary">
      <mat-icon style="font-size: 14px;">edit</mat-icon>
    </button>

  </div>



</div>
