<div fxLayout="column" fxLayoutAlign="space-around center">

  <div fxLayout="row" fxLayoutAlign="start center">
    <div>
      <h2>
        {{item.product.name}}
      </h2>

    </div>

  </div>

  <div fxFill>
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm)">
      <div fxLayout="column" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Quantity" formControlName="quantity" type="number">
        </mat-form-field>

        <oa-crud-bar style="width:100%;" [disabledSave]="itemForm.invalid" (saved)="onSubmit(itemForm)"
          (deleted)="delete()">
        </oa-crud-bar>

      </div>

    </form>
  </div>

</div>
