<mat-card>
  <mat-card-content>
    <app-shopping-list-create></app-shopping-list-create>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <app-shopping-list-records heading="Favourites" [shoppingLists$]="favShoppingLists$"></app-shopping-list-records>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-content>
    <app-shopping-list-records heading="My Shopping Lists" [shoppingLists$]="shoppingLists$">
    </app-shopping-list-records>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <app-shopping-list-records heading="Shared with me" [shoppingLists$]="sharedShoppingLists$">
    </app-shopping-list-records>
  </mat-card-content>
</mat-card>
