<form class="product-form">
  <div fxLayout="row" fxLayoutAlign="start center">
    <input id="inputField" #inputField type="text" placeholder="Add Item" aria-label="Select shopping list item"
      [formControl]="productControl" [matAutocomplete]="auto" (keyup.enter)="addItem()">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selected($event)"
      showPanel="false">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </div>
</form>
