@import '../../../../assets/theme.scss';

.product-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

}

.product-full-width {
  width: 100%;

}


mat-form-field {
  //margin: 20px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: white;
}

#inputField {
  border-radius: 4px;

  background: mat-color($background);
  //padding-left: 20px; 
  //padding-right: 20px;
  width: 100%;
  //height: 15px;    
  padding: 5px 20px;
  border: none;
}

.example-full-width {
  width: 100%;
}
