<!--
<mat-card>
    <form [formGroup]="form" >
        <div fxLayout="row" fxLayoutAlign="start center" >
                <formly-form fxFlex [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
        </div>


    </form>
</mat-card>
 -->


<form class="product-form">
  <div fxLayout="row" fxLayoutAlign="start center">
    <input id="inputField" #inputField type="text" placeholder="Add Item" aria-label="Select shopping list item"
      [formControl]="productControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selected($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </div>
</form>
