@import '../../../../../assets/theme.scss';

.shopping-list-record {
    display: block;
    position: relative;
    padding: 16px 16px 16px 24px;
    border-bottom: 1px solid;
    text-transform: none;
    cursor: pointer;
    flex-shrink: 0;


    .info {
        margin: 0 16px 0 8px;

        .title {
            font-size: 15px;
            font-weight: 600;
        }

        .notes {
            margin-top: 4px;
        }
    }
}